/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#contendt {
    margin: 20px;
}

.cell-align-right {
    text-align: right !important;
}

.cell-align-center {
    text-align: center !important;
}

// desaparece os botoes editar e excluir das tabelas listagem

.mat-row .mat-raised-button {
    visibility: hidden;
}

// reexibe

.mat-row:hover .mat-raised-button {
    visibility: visible;
}

// coloca um leve destaque
.mat-row:hover {
    filter: brightness(110%)
}

.new-item {
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: flex-end ;
    a{
        font-size: 110%;
    }
}